<!-- profile -->
<div class="about__body">
  <div class="has-text-centered common__size">
    <div class="common">
      <h2 class="about__title">About</h2>
      <div class="columns">
        <div class="column column__mobile">
          <p><img class="profile__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/about_profile.JPG" alt="sima-icon"></p>
        </div>
        <div class="column profile__card">
          <ul class="profile__item">
            <li><span class="profile__item__strong">Name：</span>Tateishi Ayu</li>
            <li class="pt-3"><span class="profile__item__strong">Address：</span>Tokyo</li>
            <li class="pt-3"><span class="profile__item__strong">From：</span>Nagasaki Goto Iland</li>
            <li class="pt-3"><span class="profile__item__strong">Birth：</span>August 19</li>
            <li class="pt-3"><span class="profile__item__strong">Age：</span>24</li>
            <li class="pt-3"><span class="profile__item__strong">Hobby :</span> Language study and Cook</li>
            <li class="pt-3"><span class="profile__item__strong">Environment :</span> Mac and Windows</li>
          </ul>
        </div>
        <div class="column column__pc">
          <p><img class="profile__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/about_profile.JPG" alt="sima-icon"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /profile -->
<!-- contents -->
<section class="gray" id="js-trigger">
  <div class="common__size js-animation ">
    <div class="common">
      <h3 class="common__sub-title">Skill</h3>
      <div class="tile is-ancestor">
        <div class="tile tile__padding">
          <div class="card">
            <div class="card-image">
              <div class="image image__size card__code card__layout"> <i class="fa fa-code fa-4x icon__skill"></i>
                <p class="card__title"><strong>Coding Skill</strong></p>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left"> </div>
                <div class="media-content"> </div>
              </div>
              <div class="content content__text">
                <ul>
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>Javascript</li>
                  <li>Wordpress</li>
                  <li>Ruby on Rails</li>
                  <li>REACT</li>
                  <li>Jqery</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tile tile__padding">
          <div class="card">
            <div class="card-image">
              <div class="image image__size card__design card__layout"> <i class="fa fa-paint-brush fa-4x icon__skill"></i>
                <p class="card__title"><strong>Design Skill</strong></p>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left"> </div>
                <div class="media-content"> </div>
              </div>
              <div class="content content__text">
                <ul>
                  <li>Photoshop</li>
                  <li>Illustrator</li>
                  <li>adobeXD</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tile tile__padding">
          <div class="card">
            <div class="card-image">
              <div class="image image__size card__common card__layout"> <i class="fa fa-star fa-4x icon__skill"></i>
                <p class="card__title"><strong>Other Skill</strong></p>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left"> </div>
                <div class="media-content"> </div>
              </div>
              <div class="content content__text">
                <ul>
                  <li>Office Excel</li>
                  <li>Office PowerPoint</li>
                  <li>Office Word</li>
                  <li>Google Spreadsheet</li>
                  <li>Google Document</li>
                  <li>Dreamweaver</li>
                  <li>Visual Studio Code</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contents -->