<!-- Hero -->
<section>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="hero__title"> Ayu Tateishi Portfolio </h1>
    </div>
  </div>
</section>
<!-- /Hero -->
<!-- info -->
<section class="common__size js-animation white" id="js-trigger">
  <div class="common">
    <h2 class="common__title">infomation</h2>
    <div class="info__side">
      <p　class="info__day"><small>2020/08/29</small></p>
        <p class="info__text"><span class="info__icon"></span><strong>サイトを公開しました。</strong></p>
    </div>
    <div class="info__side">
      <p　class="info__day"><small>20２0/08/27</small></p>
        <p class="info__text"><span class="info__icon"></span><strong>Herokuにテスト公開しました。</strong></p>
    </div>
    <div class="info__side">
      <p　class="info__day"><small>2020/08/23</small></p>
        <p class="info__text"><span class="info__icon"></span><strong>ポートフォリオ作成しました。</strong></p>
    </div>
  </div>
</section>
<!-- info -->
<%# about %>
  <section class="gray">
    <div class="common__size js-animation ">
      <div class="common">
        <h2 class="common__title element js-animation">About Contents</h2>
        <div class="tile is-ancestor">
          <a class="jsx-89345332" href="/work/portfolio">
            <div class="tile tile__padding">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3"> <img src="http://hudehisa.sakura.ne.jp/portfolio_site/work_portfolio.jpg" alt="Placeholder image"> </figure>
                </div>
                <div class="card-content">
                  <div class="about__tags">
                    <p class="about__tag tag-code tag-size">コーディング</p>
                    <p class="about__tag tag-design tag-size">デザイン</p>
                  </div>
                  <div class="media">
                    <div class="media-left"> </div>
                    <div class="media-content">
                      <p class="title is-4">Portfolio</p>
                    </div>
                  </div>
                  <div class="content content__text">This is my portfolio site.You can see my skill and artwork here.</div>
                </div>
              </div>
            </div>
          </a>
          <a class="jsx-89345332" href="/work/coding_school">
            <div class="tile tile__padding">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3"> <img src="http://hudehisa.sakura.ne.jp/portfolio_site/work_coding-school.jpg" alt="Placeholder image"> </figure>
                </div>
                <div class="card-content">
                  <div class="about__tags">
                    <p class="about__tag tag-code tag-size">コーディング</p>
                    <p class="about__tag tag-design tag-size">デザイン</p>
                  </div>
                  <div class="media">
                    <div class="media-left"> </div>
                    <div class="media-content">
                      <p class="title is-4">Coding School LP</p>
                    </div>
                  </div>
                  <div class="content content__text">This is Coding education LP site. I made design and coding here.</div>
                </div>
              </div>
            </div>
          </a>
          <a class="jsx-89345332" href="/work/message_app">
            <div class="tile tile__padding">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3"> <img src="http://hudehisa.sakura.ne.jp/portfolio_site/work_massage-app.jpg" alt="Placeholder image"> </figure>
                </div>
                <div class="card-content">
                  <div class="about__tags">
                    <p class="about__tag tag-code tag-size">コーディング</p>
                    <p class="about__tag tag-design tag-size">デザイン</p>
                  </div>
                  <div class="media">
                    <div class="media-left"> </div>
                    <div class="media-content">
                      <p class="title is-4">Massage app</p>
                    </div>
                  </div>
                  <div class="content content__text">This is a message site. You can send message for acquaintance here.</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="jsx-89345332 more-button">
          <a class="jsx-89345332" href="/work">
            <div class="jsx-89345332 button">See more</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <%# /about %>