<%# jumbotron %>
  <section class="hero is-primary is-medium">
    <div class="hero-head"> </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="is-1 work__top-title"> Coding School LP Site </h1>
      </div>
    </div>
  </section>
  <%# /jumbotron %>
    <%# move_img explanation %>
      <section class="section has-background-light">
        <div class="columns js-animation is-centered">
          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_coding-school-pc-top.jpg" alt="coding-school-top"></p>
        </div>
        <div class="work__card js-animation">
          <div class="card-content">
            <h4 class="title is-4 my-2"> 使用技術 </h4>
            <p class="pt-2"><strong>Coding language:</strong> HTML5,CSS3,Scss,Javascript(jqery)</p>
            <p class="pt-2"><strong>JS environment:</strong> node.js</p>
            <p class="pt-2"><strong>CSS Framework:</strong> ReactBootstrap</p>
            <p class="pt-2"><strong>Script language:</strong> None</p>
            <p class="pt-2"><strong>Web icon:</strong> Fontawesome</p>
            <p class="pt-2"><strong>Web font:</strong> Google Font</p>
            <p class="pt-2"><strong>JS module:</strong> None</p>
            <p class="pt-2"><strong>JS library:</strong> React</p>
            <p class="pt-2"><strong>Other skills:</strong> Adobe Photshop</p>
            <p class="pt-2"><strong>Development:</strong> iMac (Retina 4K, 21.5-inch, 2019)</p>
            <p class="pt-2"><strong>Hosting Service:</strong> Netlify,Github</p>
          </div>
        </div>
      </section>
      <%#/ move_img explanation %>
        <%# work_block %>
          <div class="work__cards js-animation">
            <div class="card-content">
              <h4 class="title is-4 my-2"> Used Colour </h4>
              <div class="card__colours">
                <div class="colour__39 card__colour mx-3"></div>
                <div class="colour__40 card__colour mx-3"></div>
                <div class="colour__41 card__colour mx-3"></div>
                <div class="colour__42 card__colour mx-3"></div>
              </div>
            </div>
            <div class="card-content js-animation">
              <h4 class="title is-4 my-2"> Review Code & Desigin </h4>
              <div class="card__colums"> 
                <div class="px-3"> <button onclick="window.open('https://github.com/ayu0819/practice-coding_school')" class="button is-large" formtarget="_blank">
    <span class="icon is-medium">
      <i class="fa fa-github sns__github"></i>
    </span>
    <span>Github</span>
  </button> </div>
                  <div class="px-3"> <button onclick="window.open('https://elegant-bhaskara-0dee1d.netlify.app/')" class="button is-large" formtarget="_blank">
    <span class="icon is-medium">
      <i class="fa fa-desktop sns__site"></i>
    </span>
    <span>Show Site</span>
  </button> </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          <%# /work_block %>
            <%# work_block %>
              <section class="section has-background-light">
                <h2 class="title is-2 pl-3">Top Page</h2>
                <div class="columns js-animation is-centered">
                  <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_coding-school-pc-1.jpg" alt="coding-school-img"></p>
                </div>
                <div class="work__card js-animation">
                  <div class="card-content">
                    <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                    <p class="subtitle">このサイトは "コーディングスクール" を想定して作成しました。<br>テーマカラーはオレンジ色です。<br>工夫点は以下になります。</p>
                    <ul class="subtitle">
                    　<li>・楽しんでスクールに興味をもってくれるために <strong>"暖色"</strong> を基調にデザイン</li>
                      <li>・表示テキスト量を調節するために "卒業生の感想" を <strong>"モーダル"</strong> へ設定</li>
                    </ul>
                    <div class="lines subtitle">
                      <p class="line__en-text is-size-4 pt-5">English</p>
                      <div class="line mt-1"></div>
                    </div>
                    <p class="subtitle is-size-6">This site was created assuming "Coding School".The theme color is orange and The points to devise are as follows.</p>
                    <ul class="subtitle">
                      <li class="is-size-6">・Designed based on <strong>"warm color"</strong> to have fun and interest in school</li>
                      <li class="is-size-6">・Set "Graduation Impressions" to <strong>"Modal"</strong> to adjust the amount of text displayed</li>
                    </ul>
                    
                  </div>
                </div>
              </section>
              <%# /work_block %>
                <%# nav %>
                  <section class="section has-background-white">
                    <div class="work__nav"> <button onclick="location.href='/work/portfolio'" class="column__src js-animation button is-primary is-outlined button__text is-active"><i class="fa fa-chevron-left fa-1x"></i>　BEFORE</button> <button onclick="location.href='/work/message_app'" class="column__src js-animation button is-primary is-outlined button__text">　NEXT　<i class="fa fa-chevron-right fa-1x"></i></button> </div>
                  </section>
                  <%# /nav %>