<%# jumbotron %>
  <section class="hero is-primary is-medium">
    <div class="hero-head"> </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="is-1 work__top-title"> Goto Pay UI Desigin </h1>
      </div>
      
    </div>
  </section>
  <%# /jumbotron %>
    <%# move_img explanation %>
      <section class="section has-background-light">
        <div class="columns js-animation is-centered">
          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-top.jpg" alt=""></p>
        </div>
        <div class="work__card js-animation">
          <div class="card-content">
            <h4 class="title is-4 my-2"> 使用技術 </h4>
            <p class="pt-2"><strong>Skill:</strong> Adobe Photoshop Illustrator</p>
            <p class="pt-2"><strong>Development:</strong> iMac (Retina 4K, 21.5-inch, 2019)</p>
          </div>
        </div>
      </section>
      <%#/ move_img explanation %>
        <%# work_block %>
          <div class="work__cards">
            <div class="card-content">
              <h4 class="title is-4 my-2"> Used Colour </h4>
              <div class="card__colours">
                <div class="colour__35 card__colour mx-3"></div>
                <div class="colour__14 card__colour mx-3"></div>
                <div class="colour__36 card__colour mx-3"></div>
                <div class="colour__37 card__colour mx-3"></div>
                <div class="colour__38 card__colour mx-3"></div>
              </div>
            </div>
            <div class="card-content">
              <h4 class="title is-4 my-2"> Review Desigin </h4>
              <div class="card__colums">
                <%# <div class="px-3"> <button onclick="location.href='https://techacademy.jp/magazine/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div> %>
                <div class="px-3"> <button onclick="window.open('https://dribbble.com/shots/14096130-Church-Pay-App-layout-church-icon')" class="button is-large" formtarget="_blank">
    <span class="icon is-medium">
      <i class="fa fa-dribbble sns__dribbble"></i>
    </span>
    <span>Dribbble</span>
  </button> </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          <%# /work_block %>
            <%# work_block %>
              <section class="section has-background-light">
                <h2 class="title is-2 pl-3">Load Page</h2>
                <div class="columns js-animation is-centered">
                  <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-1.jpg" alt=""></p>
                </div>
                <div class="work__card js-animation">
                  <div class="card-content">
                    <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                    <p class="subtitle">この画面は、アプリ開始時に必ず表示させるページになります。<br>このロード画面の課題は、通信速度の影響によりロード時間が長くなることです。ロード時間が長くなってしまた場合、人間はストレスを感じさせてることです。<br>それを軽減させるために以下の工夫をしました。</p>
                    <ul class="subtitle">
                      <li>・ブランドカラー""と類似色素による、<strong>”鎮静色”</strong>の効果</li>
                      <li>・ロゴマークにアニメーションによる<strong>"フェードイン"</strong></li>
                    </ul>
                    <div class="lines subtitle">
                      <p class="line__en-text is-size-4 pt-5">English</p>
                      <div class="line mt-1"></div>
                    </div>
                    <p class="subtitle is-size-6">This screen will be the page that is always displayed when the application starts.The problem with this load screen is that it takes longer to load due to the influence of communication speed. If the loading time is long and it will be stressful to humans.The following measures were taken to reduce it.</p>
                    <ul class="subtitle">
                      <li class="is-size-6">・<strong>"Sedative"</strong> effect with brand color "#" and similar pigments</li>
                      <li class="is-size-6">・Animated <strong>"fade in"</strong> with logo mark</li>
                    </ul>
                  </div>
                </div>
              </section>
              <%# /work_block %>
                <%# work_block %>
                  <section class="section has-background-white">
                    <h2 class="title is-2 pl-3">Top Page</h2>
                    <div class="columns js-animation is-centered">
                      <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-2.jpg" alt=""></p>
                    </div>
                    <div class="work__card js-animation">
                      <div class="card-content">
                        <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                        <p class="subtitle">この画面は、ロード後に表示される"残高・登録カード"の確認を表示させています。この画面の課題は"残高・登録カードの確認"と項目が多くなってしまうことです。これらを改善するために以下の工夫を行いました。</p>
                        <ul class="subtitle">
                          <li>・必須要素に<strong>”アイコン”</strong>を使用し、テキスト量を減らす。</li>
                        </ul>
                        <p class="subtitle">また、カードアイコンデザインは下記の"Other Icon"に変更できる。</p>
                        <div class="lines subtitle">
                          <p class="line__en-text is-size-4 pt-5">English</p>
                          <div class="line mt-1"></div>
                        </div>
                        <p class="subtitle is-size-6"> This screen shows the confirmation of "Balance/Registration Card" displayed after loading.The problem of this screen is that there are many items such as "Check balance/registration card".The following measures have been taken to improve these.</p>
                        <ul class="subtitle">
                          <li class="is-size-6">・Use <strong>"icons"</strong> as required elements to reduce the amount of text.</li>
                        </ul>
                        <p class="subtitle is-size-6">Also, the card icon design can be changed to "Other Icon" below.</p>
                      </div>
                    </div>
                  </section>
                  <%# /work_block %>
                    <%# work_block %>
                      <section class="section has-background-light">
                        <h2 class="title is-2 pl-3">Other Icon Desigin</h2>
                        <div class="columns_2 js-animation">
                          <div class="column column__flex">
                            <div class="column">
                              <div class="columns">
                                <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-icon-1.png" alt="church">
                                  <div class="mt-1 has-text-centered work__church-text">
                                    <p><strong>旧野首教会</strong></p>
                                    <p class="mt-1 has-text-centered work__church-text"><small>Kyunokubi Church</small></p>
                                  </div>
                                </div>
                                <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-icon-2.png" alt="church">
                                  <div class="mt-1 has-text-centered work__church-text">
                                    <p><strong>江上天主堂</strong></p>
                                    <p class="mt-1 has-text-centered"><small>Egami Tenshudo</small></p>
                                  </div>
                                </div>
                                <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-icon-3.png" alt="church">
                                  <div class="mt-1 has-text-centered work__church-text">
                                    <p><strong>頭ケ島天主堂</strong></p>
                                    <p class="mt-1 has-text-centered"><small>Kashiragashima Tenshudo</small></p>
                                  </div>
                                </div>
                                <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-icon-4.png" alt="church">
                                  <div class="mt-1 has-text-centered work__church-text">
                                    <p><strong>堂崎教会</strong></p>
                                    <p class="mt-1 has-text-centered"><small>Dozaki Church</small></p>
                                  </div>
                                </div>
                                <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-icon-5.png" alt="church">
                                  <div class="mt-1 has-text-centered work__church-text">
                                    <p><strong>浜脇教会</strong></p>
                                    <p class="mt-1 has-text-centered"><small>Hamawaki Church</small></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <%# /work_block %>
                        <%# work_block %>
                          <section class="section has-background-white">
                            <h2 class="title is-2 pl-3">History Page</h2>
                            <div class="columns js-animation is-centered">
                              <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-3.jpg" alt=""></p>
                            </div>
                            <div class="work__card js-animation">
                              <div class="card-content">
                                <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                                <p class="subtitle">この画面は、サービス利用履歴を確認する画面です。ここでは"店名・使用金額・日時"のデータを一目で確認することができます。この画面での課題は、データを月ごとにまとめて使用履歴を確認させることです。これを実現させるために以下の工夫を行いました。</p>
                                <ul class="subtitle">
                                  <li>・"チャージ額"と"出費額"を色で分けて<strong>"区別化"</strong></li>
                                  <li>・<strong>"縦スクロール"</strong>で構成、上部表示は新しい履歴に設定</li>
                                </ul>
                                <div class="lines subtitle">
                                  <p class="line__en-text is-size-4 pt-5">English</p>
                                  <div class="line mt-1"></div>
                                </div>
                                <p class="subtitle is-size-6">This screen is for checking the service usage history.Here, you can check the data of "store name, amount spent, date and time" at a glance.The task on this screen is to collect data by month and check the usage history.To achieve this, I have made the following innovations.</p>
                                <ul class="subtitle">
                                  <li class="is-size-6">・"Charge amount" and "Expense amount" are separated by color and <strong>"Distinct"</strong></li>
                                  <li class="is-size-6">・It consists of <strong>"vertical scroll"</strong>, the upper display is set to a new history</li>
                                </ul>
                              </div>
                            </div>
                          </section>
                          <%# /work_block %>
                            <%# work_block %>
                              <section class="section has-background-light">
                                <h2 class="title is-2 pl-3">News Page</h2>
                                <div class="columns js-animation is-centered">
                                  <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-4.jpg" alt=""></p>
                                </div>
                                <div class="work__card js-animation">
                                  <div class="card-content">
                                    <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                                    <p class="subtitle">この画面は、運営によるニュースをユーザーに通知をします。この画面の課題は、ユーザーに通知する文章が複雑化してしますことです。それを軽減するために以下の工夫を行いました。</p>
                                    <ul class="subtitle">
                                      <li>・リード文は単純な文章に設定、<strong>"文字情報の理解を向上"</strong></li>
                                      <li>・本文はテキストを省略し、色の<strong>"濃淡"</strong>を利用して注目コンテンツを差別化</li>
                                    </ul>
                                    <div class="lines subtitle">
                                      <p class="line__en-text is-size-4 pt-5">English</p>
                                      <div class="line mt-1"></div>
                                    </div>
                                    <p class="subtitle is-size-6">This screen informs the user of news from the operation.The problem with this screen is that the text to notify the user is complicated.The following measures have been taken to reduce it.</p>
                                    <ul class="subtitle">
                                      <li class="is-size-6">・Set the lead sentence to a simple sentence, <strong>"improve understanding of character information"</strong></li>
                                      <li class="is-size-6">・The text is omitted from the text, and the <strong>"shading"</strong> of the color is used to differentiate the content of interest.</li>
                                    </ul>
                                  </div>
                                </div>
                              </section>
                              <%# /work_block %>
                                <%# work_block %>
                                  <section class="section has-background-white">
                                    <h2 class="title is-2 pl-3">Configuration Page</h2>
                                    <div class="columns js-animation is-centered">
                                      <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-5.jpg" alt=""></p>
                                    </div>
                                    <div class="work__card js-animation">
                                      <div class="card-content">
                                        <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                                        <p class="subtitle">この画面は、ユーザーのアカウント情報を変更することができます。<br>この画面の課題は、コンテンツ量が非常に多い事です。他のページデザインはアイコンを使用し単純化しましたが、この場合は難しいと考えます。それを解決させるために以下の工夫をしました。</p>
                                        <ul class="subtitle">
                                          <li>・タイトルとカテゴリ名を"色・サイズ"による<strong>”差別化”</strong></li>
                                          <li>・アイコンでなく"テキスト"のみを使用し<strong>"シンプル性"</strong>を重視</li>
                                        </ul>
                                        <div class="lines subtitle">
                                          <p class="line__en-text is-size-4 pt-5">English</p>
                                          <div class="line mt-1"></div>
                                        </div>
                                        <p class="subtitle is-size-6"> This screen allows you to change your account information. The problem with this screen is that the amount of content is very large. Other page designs have been simplified using icons, but in this case I find it difficult. The following measures have been taken to resolve this.</p>
                                        <ul class="subtitle">
                                          <li class="is-size-6">・"Differentiation" of title and category name by <strong>"color&size"</strong></li>
                                          <li class="is-size-6">・Focus on <strong>"simplicity"</strong> using only "text" instead of icons</li>
                                        </ul>
                                      </div>
                                  </section>
                                  <%# /work_block %>
                                    <%# work_block %>
                                      <section class="section has-background-light">
                                        <h2 class="title is-2 pl-3">Other Page</h2>
                                        <div class="columns js-animation is-centered">
                                          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_goto-pay-6.jpg" alt=""></p>
                                        </div>
                                        <div class="work__card js-animation">
                                          <div class="card-content">
                                            <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                                            <p class="subtitle">この画面は、アプリに関係するサービスを表示します。<br>課題は、コンテンツとジャンルが多いこと。それを解決させるために以下の工夫をしました。</p>
                                            <ul class="subtitle">
                                              <li>・表示方法を3つに分けて"差別化"すること。</li>
                                            </ul>
                                            <div class="lines subtitle">
                                              <p class="line__en-text is-size-4 pt-5">English</p>
                                              <div class="line mt-1"></div>
                                            </div>
                                            <p class="subtitle is-size-6">This screen shows the services related to the app.The challenge is that there are many contents and genres. The following measures have been taken to resolve this.</p>
                                            <ul class="subtitle">
                                              <li class="is-size-6">・<strong>"Differentiate"</strong> by dividing the display method into three.</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </section>
                                      <%# /work_block %>
                                        <%# nav  %>
                                          <section class="section has-background-white">
                                            <div class="work__nav">
                                              <%# <button class="column__src js-animation button is-primary is-outlined button__text is-active"><i class="fa fa-chevron-left fa-1x"></i>　BEFORE</button> %> <button onclick="location.href='/work/work_banner'" class="column__src js-animation button is-primary is-outlined button__text">　NEXT　<i class="fa fa-chevron-right fa-1x"></i></button> </div>
                                          </section>
                                          <%# /nav  %>