<%# jumbotron %>
  <section class="hero is-primary is-medium">
    <div class="hero-head"> </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="is-1 work__top-title"> Message App </h1>
      </div>
    </div>
  </section>
  <%# /jumbotron %>
    <%# move_img explanation %>
      <section class="section has-background-light">
        <div class="columns js-animation is-centered">
          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_massage-app_top.jpg" alt="massage-app-top"></p>
        </div>
        <div class="work__card js-animation">
          <div class="card-content">
            <h4 class="title is-4 my-2"> 使用技術 </h4>
            <p class="pt-2"><strong>Coding language:</strong> HTML5,CSS3,Scss,Javascript(Native/ES2015)</p>
            <p class="pt-2"><strong>JS environment:</strong> node.js</p>
            <p class="pt-2"><strong>JS plugin:</strong> Swiper</p>
            <p class="pt-2"><strong>CSS Framework:</strong> original</p>
            <p class="pt-2"><strong>Script language:</strong> Ruby on Rails</p>
            <p class="pt-2"><strong>Web icon:</strong> Google Material Icon</p>
            <p class="pt-2"><strong>Web font:</strong> Google Font</p>
            <p class="pt-2"><strong>JS module:</strong> webpack</p>
            <p class="pt-2"><strong>Other skills:</strong> Adobe Photshop</p>
            <p class="pt-2"><strong>Development:</strong> iMac (Retina 4K, 21.5-inch, 2019)</p>
            <p class="pt-2"><strong>DHosting Service:</strong> Github</p>
          </div>
        </div>
      </section>
      <%#/ move_img explanation %>
                <div class="work__cards js-animation">
            <div class="card-content">
              <h4 class="title is-4 my-2"> Used Colour </h4>
              <div class="card__colours">
                <div class="colour__43 card__colour mx-3"></div>
                <div class="colour__14 card__colour mx-3"></div>
                <div class="colour__45 card__colour mx-3"></div>
                <div class="colour__46 card__colour mx-3"></div>
              </div>
            </div>
            <div class="card-content js-animation">
              <h4 class="title is-4 my-2"> Review Code & Desigin </h4>
              <div class="card__colums">
                <div class="px-3"> <button onclick="window.open('https://github.com/ayu0819/-practice-massage_app')" class="button is-large" formtarget="_blank">
    <span class="icon is-medium">
      <i class="fa fa-github sns__github"></i>
    </span>
    <span>Github</span>
  </button> </div>
                <%# <div class="px-3"> <button onclick="location.href='https://techacademy.jp/magazine/'" class="button is-large" target="_blank">
    <span class="icon is-medium">
      <i class="fa fa-dribbble sns__dribbble"></i>
    </span>
    <span>Dribbble</span>
  </button> </div> %>
                  <%# <div class="px-3"> <button onclick="location.href='https://techacademy.jp/magazine/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-desktop sns__site"></i>
    </span>
    <span>Show Site</span>
  </button> </div> %>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
        <%# work_block %>
          <section class="section has-background-white">
            <h2 class="title is-2 pl-3">Top & About Page</h2>
            <div class="columns js-animation is-centered">
              <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_massage-app_1.jpg" alt=""></p>
            </div>
            <div class="work__card js-animation">
              <div class="card-content">
                <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                <p class="subtitle">(Top)<br>このページは、アプリのサービスを紹介しており、サービス紹介をメインにコンテンツを構成しています。<br>またこれは、会員登録を促すためにキャンペーンを実施しています。また、キャンペーンバナーを複数並べらるために”Swiper”を使用して”モバイルファースト”を実現させました。</p>
                <p class="subtitle">(About)<br>このページは、サービスの紹介と説明をしているページです。<br>説明を読んだ後に”新規登録orログイン”を促すボタンを配置しています。</p>
                <div class="lines subtitle">
                  <p class="line__en-text is-size-4 pt-5">English</p>
                  <div class="line mt-1"></div>
                </div>
                <p class="subtitle is-size-6">(Top)<br>This page introduces the service of the application, and the content is mainly composed of the service introduction.<br>It also runs a campaign to encourage membership registration. In addition, "Swiper" is used to arrange multiple campaign banners to achieve "mobile first".</p>
                <p class="subtitle is-size-6">(About)<br>This page is a page that introduces and explains the service.<br>After reading the explanation, there is a button that encourages "new registration or login".</p>
              </div>
            </div>
          </section>
          <%# /work_block %>
            <%# work_block %>
              <section class="section has-background-light">
                <h2 class="title is-2 pl-3">Advertising Banner</h2>
                <div class="columns_2 js-animation">
                  <div class="column column__flex">
                    <div class="column">
                      <div class="columns">
                        <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_message-app_banner-1.jpg" alt="church">
                          <div class="mt-1 has-text-centered">
                            <p><strong>Banner 1</strong></p>
                            <p class="mt-1 has-text-centered"><small>present campaign</small></p>
                          </div>
                        </div>
                        <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_message-app_banner-2.jpg" alt="church">
                          <div class="mt-1 has-text-centered">
                            <p><strong>Banner 2</strong></p>
                            <p class="mt-1 has-text-centered"><small>sns campaign</small></p>
                          </div>
                        </div>
                        <div class="column"><img class="work__church" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_message-app_banner-3.jpg" alt="church">
                          <div class="mt-1 has-text-centered">
                            <p><strong>Banner 3</strong></p>
                            <p class="mt-1 has-text-centered"><small>electronic money campaign</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <%# /work_block %>
                <%# work_block %>
                  <section class="section has-background-white">
                    <h2 class="title is-2 pl-3">Login & Singin Page</h2>
                    <div class="columns js-animation is-centered">
                      <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_massage-app_2.jpg" alt=""></p>
                    </div>
                    <div class="work__card js-animation">
                      <div class="card-content">
                        <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                        <p class="subtitle">(Login)<br>このページは、ログインページです。<br>”メールアドレス”と”パスワード”を入力、登録されると、緑色のサインが表示されます。<br>また、入力された情報に不備があるとログインすることはできません。</p>
                        <p class="subtitle">(User)<br>このページは、マイページです。<br>アナタのアカウントに関係する”情報”の変更と”投稿・いいね!”の履歴を確認できます。</p>
                        <div class="lines subtitle">
                          <p class="line__en-text is-size-4 pt-5">English</p>
                          <div class="line mt-1"></div>
                        </div>
                        <p class="subtitle is-size-6">(Login)<br>This page is the login page.<br>After entering and registering your "email address" and "password", a green sign will be displayed.<br>Also, if the entered information is incorrect, you will not be able to log in.</p>
                        <p class="subtitle is-size-6">(User)<br>This page is my page.<br>You can check the history of "information" changes and "posts・likes" related to your account.</p>
                      </div>
                    </div>
                  </section>
                  <%# /work_block %>
                    <%# work_block %>
                      <section class="section has-background-light">
                        <h2 class="title is-2 pl-3">My Page & Edit Page</h2>
                        <div class="columns js-animation is-centered">
                          <p><img class="work__img" src="hhttp://hudehisa.sakura.ne.jp/portfolio_site/work_massage-app_3.jpg" alt=""></p>
                        </div>
                        <div class="work__card js-animation">
                          <div class="card-content">
                            <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                            <p class="subtitle">(Account_Edit)<br>このページは、マイページの修正ページです。<br>ユーザーはユーザー画像・名前・メールアドレスの修正がで可能になります。<br>ここで変更された内容は、これからのサービスに反映されます。</p>
                             <p class="subtitle">(My_Post)<br>このページは、自分の投稿・いいね!を確認できるページです。<br>メッセージ・いいね!を登録しない限り表示されません。登録後に反映されます。</p>
                            <div class="lines subtitle">
                              <p class="line__en-text is-size-4 pt-5">English</p>
                              <div class="line mt-1"></div>
                            </div>
                            <p class="subtitle is-size-6">(Account_Edit)<br>This page is a modification of My Page.<br>The user can edit the user image, name and email address.<br>Changes made here will be reflected in future services.</p>
                            <p class="subtitle is-size-6">(My_Post)<br>This page is for checking your posts and likes.<br>The message will not be displayed unless you like it. It will be reflected after registration.</p>
                          </div>
                        </div>
                      </section>
                      <%# /work_block %>
                        <%# work_block %>
                          <section class="section has-background-white">
                            <h2 class="title is-2 pl-3">Post & Edit Page</h2>
                            <div class="columns js-animation is-centered">
                              <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_massage-app_4.jpg" alt=""></p>
                            </div>
                            <div class="work__card js-animation">
                              <div class="card-content">
                                <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                                <p class="subtitle">(New_Post)<br>このページでは、メッセージを入力することができます。<br>また、制限文字に反した場合はサインがに出現し、投稿は反映されません。</p>
                                <p class="subtitle">(All_Post)<br>このページでは、ユーザーが各位全てのメッセージを閲覧することができます。<br>また、ユーザーがメッセージをクリックすると”自分の投稿”の場合内容を修正・削除することができます。</p>
                                <div class="lines subtitle">
                                  <p class="line__en-text is-size-4 pt-5">English</p>
                                  <div class="line mt-1"></div>
                                </div>
                                <p class="subtitle is-size-6">(New_Post)<br>You can enter a message on this page.<br>Also, if the user violates the restricted characters, the signature will appear on and the post will not be reflected.</p>
                                <p class="subtitle is-size-6">(All_Post)<br>This page allows users to view all messages.<br>Also, when the user clicks the message, the content can be modified or deleted in the case of "my post".</p>
                              </div>
                          </section>
                          <%# /work_block %>
                            <%# work_block %>
                              <section class="section has-background-light">
                                <h2 class="title is-2 pl-3">All Post & Team Page</h2>
                                <div class="columns js-animation is-centered">
                                  <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_massage-app_5.jpg" alt=""></p>
                                </div>
                                <div class="work__card js-animation">
                                  <div class="card-content">
                                    <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                                    <p class="subtitle">(Account)<br>このページでは、ユーザー名・メールアドレス・パスワードを登録します。<br>パスワードは”暗号化”しており、登録後は再度修正可能です。</p>
                                    <p class="subtitle">(All_User)<br>このページでは、サービスを使用する全ユーザーが表示されます。<br>クリックをするとユーザーは、各位アカウントページにリンクされます。</p>
                                    <div class="lines subtitle">
                                      <p class="line__en-text is-size-4 pt-5">English</p>
                                      <div class="line mt-1"></div>
                                    </div>
                                    <p class="subtitle is-size-6">(Account)<br>This page, register your user name, email address, and password.<br>The password is "encrypted" and can be modified again after registration.</p>
                                    <p class="subtitle is-size-6">(All_User)<br>This page shows all users who use the service.<br>Click to link the user to your account page.</p>
                                  </div>
                                </div>
                              </section>
                              <%# /work_block %>
                                <%# /work_block %>
                                  <section class="section has-background-white">
                                    <div class="work__nav"> <button onclick="location.href='/work/coding_school'" class="column__src js-animation button is-primary is-outlined button__text is-active"><i class="fa fa-chevron-left fa-1x"></i>　BEFORE</button>
                                      <%# <button class="column__src js-animation button is-primary is-outlined button__text">　NEXT　<i class="fa fa-chevron-right fa-1x"></i></button> %> </div>
                                  </section>