                      <%# jumbotron %>
  <section class="hero is-primary is-medium">
    <div class="hero-head"> </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="is-1 work__top-title"> Portfolio </h1>
      </div>
    </div>
  </section>
  <%# /jumbotron %>
   <%# move_img explanation %>
      <section class="section has-background-light">
        <div class="columns js-animation is-centered">
          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_portfolio-top.jpg" alt=""></p>
        </div>
        <div class="work__card js-animation">
          <div class="card-content">
            <h4 class="title is-4 my-2"> 使用技術 </h4>
 <p class="pt-2"><strong>Coding language:</strong> HTML5,CSS3,Scss,Javascript(Native/ES2015)</p>
                <p class="pt-2"><strong>JS environment:</strong> node.js</p>
                <p class="pt-2"><strong>CSS Framework:</strong> Bulma + Original</p>
                <p class="pt-2"><strong>Script language:</strong> Ruby on Rails</p>
                <p class="pt-2"><strong>Web icon:</strong> Fontawesome</p>
                <p class="pt-2"><strong>Web font:</strong> Google Font</p>
                <p class="pt-2"><strong>JS module:</strong> webpack</p>
                <p class="pt-2"><strong>Other skills:</strong> Adobe Photshop</p>
                <p class="pt-2"><strong>Development:</strong> iMac (Retina 4K, 21.5-inch, 2019)</p>
                <p class="pt-2"><strong>DHosting Service:</strong> Heroku,Github</p>
          </div>
        </div>
      </section>
      <%#/ move_img explanation %>
       <div class="work__cards js-animation">
            <div class="card-content">
              <h4 class="title is-4 my-2"> Used Colour </h4>
              <div class="card__colours">
                <div class="colour__47 card__colour mx-3"></div>
                <div class="colour__14 card__colour mx-3"></div>
                <div class="colour__48 card__colour mx-3"></div>
                <div class="colour__49 card__colour mx-3"></div>
              </div>
            </div>
            <div class="card-content js-animation">
              <h4 class="title is-4 my-2"> Review Code & Desigin </h4>
              <div class="card__colums">
                <div class="px-3"> <button onclick="window.open('https://github.com/ayu0819/show_portfolio.git')" class="button is-large" formtarget="_blank">
    <span class="icon is-medium">
      <i class="fa fa-github sns__github"></i>
    </span>
    <span>Github</span>
  </button> </div>
                <%# <div class="px-3"> <button onclick="location.href='https://techacademy.jp/magazine/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-dribbble sns__dribbble"></i>
    </span>
    <span>Dribbble</span>
  </button> </div> %>
                 <div class="px-3"> <button onclick="window.open('https://ayu-portfolio.herokuapp.com/')" class="button is-large" formtarget="_blank">
    <span class="icon is-medium">
      <i class="fa fa-desktop sns__site"></i>
    </span>
    <span>Show Site</span>
  </button> </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
        <%# work_block %>
          <section class="section has-background-white">
            <h2 class="title is-2 pl-3">Top Page</h2>
            <div class="columns js-animation is-centered">
              <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_portfolio-1.jpg" alt=""></p>
            </div>
            <div class="work__card js-animation">
              <div class="card-content">
                <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                <p class="subtitle">この画面は、ポートフォリオのtopページです。作品や更新履歴とプロフィールを載せています。以下を工夫しました。</p>
                <ul class="subtitle">
                  <li>・ヘッダーにスクロール距離を設定して <strong>"固定させて"</strong> ヘッダーを見せること</li>
                  <li>・各コンテンツの <strong>"フェードイン"</strong> 表示</li>
                </ul>
                <div class="lines subtitle">
                  <p class="line__en-text is-size-4 pt-5">English</p>
                  <div class="line mt-1"></div>
                </div>
                <p class="subtitle is-size-6"> This screen is the top page of the My portfolio. The work, update history and profile are posted. I devised the following.</p>
                <ul class="subtitle">
                  <li class="is-size-6">・Set the scroll distance to the header and <strong>fix</strong> it "Show header".</li>
                  <li class="is-size-6">・<strong>"Fade in"</strong> display of each contents.</li>
                </ul>
              </div>
            </div>
          </section>
          <%# /work_block %>
           
                <%# work_block %>
                  <section class="section has-background-light">
                    <h2 class="title is-2 pl-3">About Page</h2>
                    <div class="columns js-animation is-centered">
                      <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_portfolio-2.jpg" alt=""></p>
                    </div>
                    <div class="work__card js-animation">
                      <div class="card-content">
                        <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                        <p class="subtitle">この画面は、"使用ソフト" "プロフィール" を載せています。以下を工夫しました。</p>
                        <ul class="subtitle">
                          <li>・"アイコン" を使用して判断を <strong>簡単</strong>にすること</li>
                        </ul>
                        <div class="lines subtitle">
                          <p class="line__en-text is-size-4 pt-5">English</p>
                          <div class="line mt-1"></div>
                        </div>
                        <p class="subtitle is-size-6">This screen shows "Software" and "Profile". I devised the following.</p>
                        <ul class="subtitle">
                          <li class="is-size-6">・Use "icons" to make decisions <strong>easier</strong></li>
                        </ul>
                      </div>
                    </div>
                  </section>
                  <%# /work_block %>
                    <%# work_block %>
                      <section class="section has-background-white">
                        <h2 class="title is-2 pl-3">Work Page</h2>
                        <div class="columns js-animation is-centered">
                          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_portfolio-3.jpg" alt=""></p>
                        </div>
                        <div class="work__card js-animation">
                          <div class="card-content">
                            <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                            <p class="subtitle">この画面は、私の作品を載せています。以下を工夫しました。</p>
                            <ul class="subtitle">
                              <li>・役割を簡単に識別させるために <strong>"タグ"</strong> で表示させる</li>
                            </ul>
                            <div class="lines subtitle">
                              <p class="line__en-text is-size-4 pt-5">English</p>
                              <div class="line mt-1"></div>
                            </div>
                            <p class="subtitle is-size-6">This screen shows my work. I devised the following.</p>
                            <ul class="subtitle">
                              <li class="is-size-6">・Display with <strong>"tag"</strong> to easily identify the role</li>
                            </ul>
                          </div>
                        </div>
                      </section>
                      <%# /work_block %>
                        <%# work_block %>
                          <section class="section has-background-light">
                            <h2 class="title is-2 pl-3">Art Work Page</h2>
                            <div class="columns js-animation is-centered">
                              <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_portfolio-4.jpg" alt=""></p>
                            </div>
                            <div class="work__card js-animation">
                              <div class="card-content">
                                <p class="subtitle is-size-6 pt-6">Purpose of production</p>
                                <p class="subtitle">この画面は、"デザイン & コーディング"作品を掲載しています。<br>デザインを使用している場合は "テーマカラー" や 作品の説明などを載せています。<br>以下を工夫しました。</p>
                                <ul class="subtitle">
                                  <li>・テーマカラーを<strong>”カラーパレット”</strong>として表示させる</li>
                                  <li>・ページ下部分に<strong>"ページング"</strong>を設定して、ページの回遊率を高める</li>
                                </ul>
                                <div class="lines subtitle">
                                  <p class="line__en-text is-size-4 pt-5">English</p>
                                  <div class="line mt-1"></div>
                                </div>
                                <p class="subtitle is-size-6"> This screen shows "Design & Coding" works. Using the design, "theme color" and description of the work are posted. I devised the following.</p>
                                <ul class="subtitle">
                                  <li class="is-size-6">・Useing theme colors as a <strong>"color palette"</strong></li>
                                  <li class="is-size-6">・Set <strong>"paging"</strong> at the bottom of the page to increase page migration rate.</li>
                                </ul>
                              </div>
                          </section>
                          <%# /work_block %>
                        <%# nav %>
                          <section class="section has-background-white">
                            <div class="work__nav">
                              <%# <button class="column__src js-animation button is-primary is-outlined button__text is-active"><i class="fa fa-chevron-left fa-1x"></i>　BEFORE</button> %> <button onclick="location.href='/work/coding_school'" class="column__src js-animation button is-primary is-outlined button__text">　NEXT　<i class="fa fa-chevron-right fa-1x"></i></button> </div>
                          </section>
                          <%# /nav %>