<%# jumbotron %>
  <section class="hero is-primary is-medium">
    <div class="hero-head"> </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="is-1 work__top-title"> Work Banner Design </h1>
      </div>
    </div>
  </section>
  <%# /jumbotron %>
    <%# move_img explanation %>
      <section class="section has-background-light">
        <div class="columns js-animation is-centered">
          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner.jpg" alt=""></p>
        </div>
        <div class="work__card js-animation">
          <div class="card-content">
            <h4 class="title is-4 my-2"> 使用技術 </h4>
            <p class="pt-2"><strong>Skill:</strong> Adobe Photoshop Illustrator</p>
            <p class="pt-2"><strong>Development:</strong> Mac Pro・Windows10</p>
          </div>
        </div>
      </section>
      <%#/ move_img explanation %>
        <%# work_block %>
          <section class="section has-background-white">
            <h2 class="title is-2 pl-3">To Creator First Anniversary</h2>
            <div class="columns js-animation is-centered">
              <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner-1.jpg" alt=""></p>
            </div>
            <div class="work__card js-animation">
              <div class="card-content">
                <p class="subtitle has-text-weight-semibold work__subtitle">Used Colour</p>
                <div class="card__colours">
                  <div class="colour__1 card__colour mx-3"></div>
                  <div class="colour__2 card__colour mx-3"></div>
                  <div class="colour__3 card__colour mx-3"></div>
                </div>
                <p class="subtitle has-text-weight-semibold work__subtitle pt-6">Used Font</p>
                <p class="subtitle is-size-6 work__text-center">Tw Cen MT (alphabet)</p>
                <p class="subtitle has-text-weight-semibold work__subtitle">Explanation</p>
                <p class="subtitle">この画面は、アプリ開始時に必ず表示させるページになります。<br>このロード画面の課題は、通信速度の影響によりロード時間が長くなることです。ロード時間が長くなってしまた場合、人間はストレスを感じさせてることです。<br>それを軽減させるために以下の工夫をしました。</p>
                <ul class="subtitle">
                  <li>・ブランドカラー""と類似色素による、<strong>”鎮静色”</strong>の効果</li>
                  <li>・ロゴマークにアニメーションによる<strong>"フェードイン"</strong></li>
                </ul>
                <div class="lines subtitle">
                  <p class="line__en-text is-size-4 pt-5">English</p>
                  <div class="line mt-1"></div>
                </div>
                <p class="subtitle is-size-6">This is the banner of the 10th anniversary blog post. I made it in the pearl tone color which is the main color of the blog.</p>
                <p class="subtitle has-text-weight-semibold work__subtitle">Review Desigin</p>
                <div class="card__colums">
                  <div class="px-3"> <button onclick="location.href='https://pin.it/3ymuqr1'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div>
                  <div class="px-3"> <button onclick="location.href='https://www.dsp.co.jp/tocreator/all/anniversary_1st/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-wordpress sns__article"></i>
    </span>
    <span>Article</span>
  </button> </div>
                </div>
                <p class="subtitle is-size-6 pt-6">Production time : 2020/03/9 ~ /13</p>
              </div>
          </section>
          <%# /work_block %>
            <%# work_block %>
              <section class="section has-background-light">
                <h2 class="title is-2 pl-3">100 Gift Followers</h2>
                <div class="columns js-animation is-centered">
                  <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner-2.jpg" alt=""></p>
                </div>
                <div class="work__card js-animation">
                  <div class="card-content">
                    <p class="subtitle has-text-weight-semibold work__subtitle">Used Colour</p>
                    <div class="card__colours">
                      <div class="colour__4 card__colour mx-3"></div>
                      <div class="colour__5 card__colour mx-3"></div>
                      <div class="colour__6 card__colour mx-3"></div>
                      <div class="colour__8 card__colour mx-3"></div>
                    </div>
                    <p class="subtitle has-text-weight-semibold work__subtitle pt-6">Used Font</p>
                    <p class="subtitle is-size-6 work__text-center">HGS明朝E (japanese)、HGP創英角ｺﾞｼｯｸUB (japanese & alphabet)</p>
                    <p class="subtitle has-text-weight-semibold work__subtitle pt">Explanation</p>
                    <p class="subtitle">この画面は、ロード後に表示される"残高・登録カード"の確認を表示させています。この画面の課題は"残高・登録カードの確認"と項目が多くなってしまうことです。これらを改善するために以下の工夫を行いました。</p>
                    <ul class="subtitle">
                      <li>・必須要素に<strong>”アイコン”</strong>を使用し、テキスト量を減らす。</li>
                    </ul>
                    <p class="subtitle">また、カードアイコンデザインは下記の"Other Icon"に変更できる。</p>
                    <div class="lines subtitle">
                      <p class="line__en-text is-size-4 pt-5">English</p>
                      <div class="line mt-1"></div>
                    </div>
                    <p class="subtitle is-size-6">This is a Twitter gift campaign banner. Company characters are used for the banner. The theme is New Year so I set it to a conscious color. The post was about 970 RT.</p>
                    <p class="subtitle has-text-weight-semibold work__subtitle">Review Desigin</p>
                    <div class="card__colums">
                      <div class="px-3"> <button onclick="location.href='https://pin.it/3hcptpe'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div>
                      <div class="px-3"> <button onclick="location.href='https://twitter.com/yumeo_eru/status/1214748068286885888'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-twitter sns__twitter"></i>
    </span>
    <span>Twitter</span>
  </button> </div>
                    </div>
                    <p class="subtitle is-size-6 pt-6">Production time : 2020/01/2 ~ /07</p>
                  </div>
                </div>
              </section>
              <%# /work_block %>
                <%# work_block %>
                  <section class="section has-background-white">
                    <h2 class="title is-2 pl-3">Video Advertising Job Change Seminar</h2>
                    <div class="columns js-animation is-centered">
                      <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner-3.jpg" alt=""></p>
                    </div>
                    <div class="work__card js-animation">
                      <div class="card-content">
                        <p class="subtitle has-text-weight-semibold work__subtitle">Used Colour</p>
                        <div class="card__colours">
                          <div class="colour__10 card__colour mx-3"></div>
                          <div class="colour__11 card__colour mx-3"></div>
                          <div class="colour__15 card__colour mx-3"></div>
                          <div class="colour__18 card__colour mx-3"></div>
                        </div>
                        <p class="subtitle has-text-weight-semibold work__subtitle pt-6">Used Font</p>
                        <p class="subtitle is-size-6 work__text-center">HGPMinchoB (japanese)、mplus 2p medium (japanese & alphabet)</p>
                        <p class="subtitle has-text-weight-semibold work__subtitle">Explanation</p>
                        <p class="subtitle">この画面は、サービス利用履歴を確認する画面です。ここでは"店名・使用金額・日時"のデータを一目で確認することができます。この画面での課題は、データを月ごとにまとめて使用履歴を確認させることです。これを実現させるために以下の工夫を行いました。</p>
                        <ul class="subtitle">
                          <li>・"チャージ額"と"出費額"を色で分けて<strong>"区別化"</strong></li>
                          <li>・<strong>"縦スクロール"</strong>で構成、上部表示は新しい履歴に設定</li>
                        </ul>
                        <div class="lines subtitle">
                          <p class="line__en-text is-size-4 pt-5">English</p>
                          <div class="line mt-1"></div>
                        </div>
                        <p class="subtitle is-size-6">This is a banner for an advertising seminar event. Expressing the progress of video technology using vivid colors in rainbow colors.</p>
                        <p class="subtitle has-text-weight-semibold work__subtitle">Review Desigin</p>
                        <div class="card__colums">
                          <div class="px-3"> <button onclick="location.href='https://pin.it/1juCw76'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div>
                          <div class="px-3"> <button onclick="location.href='https://www.dsp.co.jp/tocreator/movie/event-movie/imagicairis_seminar/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-wordpress sns__article"></i>
    </span>
   <span>Article</span>
  </button> </div>
                        </div>
                        <p class="subtitle is-size-6 pt-6">Production time : 2020/01/10 ~ /24</p>
                      </div>
                    </div>
                  </section>
                  <%# /work_block %>
                    <%# work_block %>
                      <section class="section has-background-light">
                        <h2 class="title is-2 pl-3">Company Interview</h2>
                        <div class="columns js-animation is-centered">
                          <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner-4.jpg" alt=""></p>
                        </div>
                        <div class="work__card js-animation">
                          <div class="card-content">
                            <p class="subtitle has-text-weight-semibold work__subtitle">Used Colour</p>
                            <div class="card__colours">
                              <div class="colour__31 card__colour mx-3"></div>
                              <div class="colour__32 card__colour mx-3"></div>
                              <div class="colour__14 card__colour mx-3"></div>
                              <div class="colour__34 card__colour mx-3"></div>
                            </div>
                            <p class="subtitle has-text-weight-semibold work__subtitle pt-6">Used Font</p>
                            <p class="subtitle is-size-6 work__text-center">MicrosoftJhengHeiUIBold (japanese & alphabet)</p>
                            <p class="subtitle has-text-weight-semibold work__subtitle">Explanation</p>
                            <p class="subtitle">この画面は、運営によるニュースをユーザーに通知をします。この画面の課題は、ユーザーに通知する文章が複雑化してしますことです。それを軽減するために以下の工夫を行いました。</p>
                            <ul class="subtitle">
                              <li>・リード文は単純な文章に設定、<strong>"文字情報の理解を向上"</strong></li>
                              <li>・本文はテキストを省略し、色の<strong>"濃淡"</strong>を利用して注目コンテンツを差別化</li>
                            </ul>
                            <div class="lines subtitle">
                              <p class="line__en-text is-size-4 pt-5">English</p>
                              <div class="line mt-1"></div>
                            </div>
                            <p class="subtitle is-size-6">This is a banner of a company interview article. The target person is a professional in the industry. It is a work that expresses deep knowledge and experience.</p>
                            <p class="subtitle has-text-weight-semibold work__subtitle">Review Desigin</p>
                            <div class="card__colums">
                              <div class="px-3"> <button onclick="location.href='https://pin.it/SWDT39B'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div>
                              <div class="px-3"> <button onclick="location.href='https://www.dsp.co.jp/tocreator/game/interview-game/koeitecmogames/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-wordpress sns__article"></i>
    </span>
    <span>Article</span>
  </button> </div>
                            </div>
                            <p class="subtitle is-size-6 pt-6">Production time : 2020/01/24 ~ /30</p>
                          </div>
                      </section>
                      <%# /work_block %>
                        <%# work_block %>
                          <section class="section has-background-white">
                            <h2 class="title is-2 pl-3">Kansai Area Jobs</h2>
                            <div class="columns js-animation is-centered">
                              <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner-5.jpg" alt=""></p>
                            </div>
                            <div class="work__card js-animation">
                              <div class="card-content">
                                <p class="subtitle has-text-weight-semibold work__subtitle">Used Colour</p>
                                <div class="card__colours">
                                  <div class="colour__19 card__colour mx-3"></div>
                                  <div class="colour__20 card__colour mx-3"></div>
                                  <div class="colour__21 card__colour mx-3"></div>
                                  <div class="colour__22 card__colour mx-3"></div>
                                </div>
                                <p class="subtitle has-text-weight-semibold work__subtitle pt-6">Used Font</p>
                                <p class="subtitle is-size-6 work__text-center">VDL ロゴナ (japanese)</p>
                                <p class="subtitle has-text-weight-semibold work__subtitle">Explanation</p>
                                <p class="subtitle">この画面は、ユーザーのアカウント情報を変更することができます。<br>この画面の課題は、コンテンツ量が非常に多い事です。他のページデザインはアイコンを使用し単純化しましたが、この場合は難しいと考えます。それを解決させるために以下の工夫をしました。</p>
                                <ul class="subtitle">
                                  <li>・タイトルとカテゴリ名を"色・サイズ"による<strong>”差別化”</strong></li>
                                  <li>・アイコンでなく"テキスト"のみを使用し<strong>"シンプル性"</strong>を重視</li>
                                </ul>
                                <div class="lines subtitle">
                                  <p class="line__en-text is-size-4 pt-5">English</p>
                                  <div class="line mt-1"></div>
                                </div>
                                <p class="subtitle is-size-6">This is a recruitment banner for the Osaka area. I was conscious of making the official character of the company stand out.</p>
                                <p class="subtitle has-text-weight-semibold work__subtitle">Review Desigin</p>
                                <div class="card__colums">
                                  <div class="px-3"> <button onclick="location.href='https://pin.it/7o5wkLp'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div>
                                  <div class="px-3"> <button onclick="location.href='https://www.dsp.co.jp/feature/Kansaiarea_recommendation.html'" class="button is-large">
    <span class="icon is-medium">
     <i class="fa fa-desktop sns__site"></i>
    </span>
    <span>Site</span>
  </button> </div>
                                </div>
                                <p class="subtitle is-size-6 pt-6">Production time : 2020/05/08 ~ /22</p>
                              </div>
                          </section>
                          <%# /work_block %>
                            <%# work_block %>
                              <section class="section has-background-light">
                                <h2 class="title is-2 pl-3">Company Interview</h2>
                                <div class="columns js-animation is-centered">
                                  <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner-6.jpg" alt=""></p>
                                </div>
                                <div class="work__card js-animation">
                                  <div class="card-content">
                                    <p class="subtitle has-text-weight-semibold work__subtitle">Used Colour</p>
                                    <div class="card__colours">
                                      <div class="colour__28 card__colour mx-3"></div>
                                      <div class="colour__14 card__colour mx-3"></div>
                                      <div class="colour__29 card__colour mx-3"></div>
                                      <div class="colour__30 card__colour mx-3"></div>
                                    </div>
                                    <p class="subtitle has-text-weight-semibold work__subtitle pt-6">Used Font</p>
                                    <p class="subtitle is-size-6 work__text-center">HGP明朝E (japanese & alphabet)</p>
                                    <p class="subtitle has-text-weight-semibold work__subtitle">Explanation</p>
                                    <p class="subtitle">この画面は、アプリに関係するサービスを表示します。<br>課題は、コンテンツとジャンルが多いこと。それを解決させるために以下の工夫をしました。</p>
                                    <ul class="subtitle">
                                      <li>・表示方法を3つに分けて"差別化"すること。</li>
                                    </ul>
                                    <div class="lines subtitle">
                                      <p class="line__en-text is-size-4 pt-5">English</p>
                                      <div class="line mt-1"></div>
                                    </div>
                                    <p class="subtitle is-size-6">This is the banner for the interview article. I composed a portrait of a person on the theme of a conversation between two people.</p>
                                    <p class="subtitle has-text-weight-semibold work__subtitle">Review Desigin</p>
                                    <div class="card__colums">
                                      <div class="px-3"> <button onclick="location.href='https://pin.it/1YyeTKq'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div>
                                      <div class="px-3"> <button onclick="location.href='https://www.dsp.co.jp/tocreator/game/interview-game/squareenix4/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-wordpress sns__article"></i>
    </span>
    <span>Article</span>
  </button> </div>
                                    </div>
                                    <p class="subtitle is-size-6 pt-6">Production time : 2019/07/10 ~ /23</p>
                                  </div>
                              </section>
                              <%# /work_block %>
                                <%# work_block %>
                                  <section class="section has-background-white">
                                    <h2 class="title is-2 pl-3">Portfolio Online Screening</h2>
                                    <div class="columns js-animation is-centered">
                                      <p><img class="work__img" src="http://hudehisa.sakura.ne.jp/portfolio_site/work_banner-7.jpg" alt=""></p>
                                    </div>
                                    <div class="work__card js-animation">
                                      <div class="card-content">
                                        <p class="subtitle has-text-weight-semibold work__subtitle">Used Colour</p>
                                        <div class="card__colours">
                                          <div class="colour__23 card__colour mx-3"></div>
                                          <div class="colour__24 card__colour mx-3"></div>
                                          <div class="colour__25 card__colour mx-3"></div>
                                          <div class="colour__26 card__colour mx-3"></div>
                                        </div>
                                        <p class="subtitle has-text-weight-semibold work__subtitle pt-6">Used Font</p>
                                        <p class="subtitle is-size-6 work__text-center">ヒラギノ角ゴ Pro (japanese)、Trade Gothic Next (alphabet)</p>
                                        <p class="subtitle has-text-weight-semibold work__subtitle">Explanation</p>
                                        <p class="subtitle">この画面は、アプリに関係するサービスを表示します。<br>課題は、コンテンツとジャンルが多いこと。それを解決させるために以下の工夫をしました。</p>
                                        <ul class="subtitle">
                                          <li>・表示方法を3つに分けて"差別化"すること。</li>
                                        </ul>
                                        <div class="lines subtitle">
                                          <p class="line__en-text is-size-4 pt-5">English</p>
                                          <div class="line mt-1"></div>
                                        </div>
                                        <p class="subtitle is-size-6">This is the banner of our job change seminar event. The color of the event theme is orange with high saturation. I made it with this color and illustration in mind.</p>
                                        <p class="subtitle has-text-weight-semibold work__subtitle">Review Desigin</p>
                                        <div class="card__colums">
                                          <div class="px-3"> <button onclick="location.href='https://pin.it/3wIpcld'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-pinterest sns__pinterest"></i>
    </span>
    <span>Pinterest</span>
  </button> </div>
                                          <div class="px-3"> <button onclick="location.href='https://www.kurihaku.jp/pro/event/detail/213/'" class="button is-large">
    <span class="icon is-medium">
      <i class="fa fa-desktop sns__site"></i>
    </span>
    <span>Site</span>
  </button> </div>
                                        </div>
                                        <p class="subtitle is-size-6 pt-6">Production time : 2020/07/20 ~ /27</p>
                                      </div>
                                  </section>
                                  <%# /work_block %>
                                    <%# nav %>
                                      <section class="section has-background-light">
                                        <div class="work__nav"> <button onclick="location.href='/work/goto_app'" class="column__src js-animation button is-primary is-outlined button__text is-active"><i class="fa fa-chevron-left fa-1x"></i>　BEFORE</button>
                                          <%#<button class="column__src js-animation button is-primary is-outlined button__text">　NEXT　<i class="fa fa-chevron-right fa-1x"></i></button>%> </div>
                                      </section>
                                      <%# /nav %>